{% extends "template_main.html" %}

{% load static %}

{% block nome_pagina %}
<title>Cadastrar Aluno</title>
{% endblock %}

{% block btn_sair %}
    <div class="right">
        <a href="{% url 'users-logout' %}">Sair</a>
    </div>
{% endblock %}

{% block btn_voltar_pagina %}
<div class="label_menu_left">
    <a href="{% url 'alunos-index' %}">Voltar</a>
</div>
{% endblock %}

{% block menus %}
<section class="login">

    <form class="card-cadastro" method="post">

        <div class="card-header">
            <h1>{{ titulo_pagina }}</h1>
        </div>

        {% csrf_token %}

        <!-- {{ form.cpf.label }} -->
        <div class="input-cadastrar">

            <div class="card-content-cadastro">
                <div class="card-cadastro-input">
                    {{ form.matricula.errors }}
                    {{ form.matricula.label_tag }}
                    {{ form.matricula }}
                </div>

                <div class="card-cadastro-input">
                    {{ form.errors.cpf }}
                    {{ form.cpf.label_tag }}
                    {{ form.cpf }}
                </div>
            </div>

            <div class="card-content-cadastro">
                <div class="card-cadastro-input">
                    {{ form.errors.nome }}
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                </div>

                <div class="card-cadastro-input">
                    {{ form.errors.email }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>

            <div class="card-content-cadastro">
                <div class="card-cadastro-input">
                    {{ form.errors.telefone }}
                    {{ form.telefone.label_tag }}
                    {{ form.telefone }}
                </div>

                <div class="card-cadastro-input">
                    {{ form.errors.endereco }}
                    {{ form.endereco.label_tag }}
                    {{ form.endereco }}
                </div>
            </div>

            <div>
                <input id="cadastrar" type="submit" value="Salvar" class="submit">
            </div>
        
        </div>
        
            </form>

</section>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.cpf')
    })
</script>
{% endblock%}