{% extends 'template_main.html' %}

{% block nome_pagina %}
    <title>Login</title>
{% endblock %}

{% block btn_voltar_pagina %}
    <a href="{%url 'index'%}"></a>
{% endblock %}

{% block btn_sair %}
    
{% endblock %}

{% block menus %}
    <section class="login-cadastro">

        {% if request.user.is_authenticated %}
            <div class="card-login">
                <div class="card-header">
                    <h4>Ação não permitida</h4>
                </div>
                <p>Apenas administradores podem realizar a ação.</p>
            </div>
        {% else %}
            <form class="card-login" action="" method="post">
                {% csrf_token %}
                
                <div class="card-header">
                    <h2>Login</h2>
                </div>

                <div class="card-content">
                    {{ form }}
                </div>

                <!-- <div class="card-content">
                    <div class="card-cadastro-area">
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>
                
                <div class="card-content">
                    <div class="card-cadastro-area">
                        {{ form.password.errors }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div> -->

                <div class="card-footer">
                    <input type="submit" value="Entrar" class="submit">
                </div> 

            </form>
        {% endif %}

    </section>
{% endblock %}
