{% extends 'template_main.html' %}

{% block nome_pagina %}
<title>Login</title>
{% endblock %}

{% block btn_voltar_pagina %}
<a href="{%url 'index'%}"></a>
{% endblock %}

{% block btn_sair %}

{% endblock %}

{% block menus %}
<section class="login">

    {% if request.user.is_authenticated %}
    <div class="card-login">
        <div class="card-header">
            <h4>Ação não permitida</h4>
        </div>
        <p>Apenas administradores podem realizar a ação.</p>
    </div>
    {% else %}
    <form class="card-login" method="post">
        {% csrf_token %}

        <div class="card-header">
            <h1>Login</h1>
        </div>

        <div class="card-content">
            <div class="input-login">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="input-login">
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="input-login">
                <input id="logar" type="submit" value="Entrar" class="submit">
            </div>
        </div>

    </form>
    {% endif %}

</section>
{% endblock %}