<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/lib/view/styles/main.css">
  <meta charset="UTF-8">
</head>

<body>
  <header>

    <!-- Centered link -->
    <div class="centered">
      <a href="/home.html">Lib 3.11</a>
    </div>

    <!-- Left-aligned links (default) -->
    <input type="button" value="Voltar" onclick="history.go(-1)">

    <!-- Right-aligned links -->
    <div class="right">
      <a href="/login.html">Sair</a>
    </div>
  </header>


  <div class="button-main">
    <div class="button">
      <a href="/lib/view/Usuario/formCadastrar.php" title="Cadastrar Úsuario">
        <img src="/lib/view/styles/icons-images/cadastrar.png" alt="Cadastrar Úsuario" width="64" height="64">
        <br>
        <p>Cadastrar<br>Úsuarios</p>
      </a>
    </div>

    <div class="button">
      <a href="/lib/view/Livro/formCadastrarLivro.php" title="Cadastrar Livros">
        <img src="/lib/view/styles/icons-images/pilha-de-livros.png" alt="Cadastrar Livros" width="64" height="64">
        <br>
        <p>Cadastrar<br>Livros</p>
      </a>
    </div>
    <div class="button">
      <a href="" title="Editar Cadastros">
        <img src="/lib/view/styles/icons-images/editar.png" alt="Editar Cadastros" width="64" height="64">
        <br>
        <p>Editar<br>Cadastros</p>
      </a>
    </div>
  </div>

  <footer>
    <P>LAWHACK</P>
    <P>2021-2022</P>
  </footer>
</body>