<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/lib/view/styles/main.css">
  <meta charset="UTF-8">
</head>

<body>
  <header>

    <!-- Centered link -->
    <div class="centered">
      <a href="/home.html">Lib 3.11</a>
    </div>

    <!-- Left-aligned links (default) -->
    <input type="button" value="Voltar" onclick="history.go(-1)">

    <!-- Right-aligned links -->
    <div class="right">
      <a href="/login.html">Sair</a>
    </div>
  </header>


  <div class="button-main">
    <div class="button">
      <a href="/lib/view/Aluno/formCadastrarAluno.php" title="Cadastrar Aluno">
        <img src="/lib/view/styles/icons-images/cadastrar.png" alt="Cadastrar Aluno" width="64" height="64">
        <br>
        <p>Cadastrar<br>Aluno</p>
      </a>
    </div>

    <div class="button">
      <a href="/lib/view/Aluno/formAlterarAluno.php" title="Editar Aluno">
        <img src="/lib/view/styles/icons-images/editar.png" alt="Editar Aluno" width="64" height="64">
        <br>
        <p>Editar<br>Aluno</p>
      </a>
    </div>
    <div class="button">
      <a href="/lib/view/Aluno/pesquisarAluno.php" title="Pesquisar Aluno">
        <img src="/lib/view/styles/icons-images/pesquisar.png" alt="Pesquisar Aluno" width="64" height="64">
        <br>
        <p>Pesquisar<br>Aluno</p>
      </a>
    </div>
    <div class="button">
      <a href="/lib/view/Aluno/listarAlunos.php" title="Listar Aluno">
        <img src="/lib/view/styles/icons-images/listar.png" alt="Listar Aluno" width="64" height="64">
        <br>
        <p>Listar<br>Aluno</p>
      </a>
    </div>
  </div>

  <footer>
    <P>LAWHACK</P>
    <P>2021-2022</P>
  </footer>
</body>