<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/lib/view/styles/main.css">

</head>

<body>
  <header>

    <!-- Centered link -->
    <div class="centered">
      <a href="/home.html">Lib 3.11</a>
    </div>

    <!-- Left-aligned links (default) -->
    <input type="button" value="Voltar" onclick="history.go(-1)">

    <!-- Right-aligned links -->
    <div class="right">
      <a href="/login.html">Sair</a>
    </div>
  </header>


  <div class="button-main">
    <div class="button">
      <a href="/lib/view/Livro/formCadastrarLivro.php" title="Cadastrar Livro">
        <img src="/lib/view/styles/icons-images/cad-livros.png" alt="Cadastrar Livro" width="64" height="64">
        <br>
        <p>Cadastrar<br>Livros</p>
      </a>
    </div>

    <div class="button">
      <a href="/lib/view/Livro/atualizarLivro.php" title="Editar Livros">
        <img src="/lib/view/styles/icons-images/editar.png" alt="Editar Livros" width="64" height="64">
        <br>
        <p>Editar<br>Livros</p>
      </a>
    </div>

    <div class="button">
      <a href="/lib/view/Livro/pesquisarLivro.php" title="Pesquisar Livros">
        <img src="/lib/view/styles/icons-images/pesquisar.png" alt="Pesquisar Livros" width="64" height="64">
        <br>
        <p>Pesquisar<br>Livros</p>
      </a>
    </div>
    <div class="button">
      <a href="/lib/view/Livro/listarlivros.php" title="Listar Livros">
        <img src="/lib/view/styles/icons-images/listar.png" alt="Listar Livros" width="64" height="64">
        <br>
        <p>Listar<br>Livros</p>
      </a>
    </div>
  </div>

  <footer>
    <P>LAWHACK</P>
    <P>2021-2022</P>
  </footer>
</body>